.div-1, .div-2{
    background-color: red;
    /* display: block; por DEFECTO*/
}

.span-1{
    background-color: aquamarine;
    /* display: inline; por DEFECTO*/
    float: right;
} 
.span-2{
    background-color: aquamarine;
    /* display: inline; por DEFECTO*/
    float: left;
} 
.img{
    width: 50px;
    height: 50px;
    display: inline-block;
}