.contenedor-hidden{
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: hidden;
}
.contenedor-scroll{ /*se puede personalizar el eje de las barras*/
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: scroll;
}
.contenedor-visible{
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: visible;
}
.contenedor-auto{ /* te optimiza las barras*/
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: auto;
}
.contenedor-scroll-x{ /*se puede personalizar el eje de las barras*/
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}