.padre{
    width: 400px;
    height: 400px;
    background-color: blue;
}
.hijo{
    width: 50%;
    height: 50%;
    background-color: beige;
    /* transition: transform 1s ease-in 2s; */
  
}
.padre:hover .hijo{  
    
    /* transform:translateX(100%);
    background-color: blueviolet; */
    animation: traslacion 4s ease-in-out 2 forwards alternate; /*2 forward, se hacen 2 veces o infinite forwards, loop. Alternate hace la animación también a la inversa. Si se pasa a .hijo se ejecutará siempre automáticamente*/
    /* animation-play-state: paused; si se tiene la animación en .hijo, con el animation-play-state se pausasrá cuando esté ne hover */
}
@keyframes traslacion{
    0%{
        background-color: beige;
        transform: translateX(0%) translateY(0%);
    }
    25%{
        background-color: red;
        transform: translateX(100%) translateY(0%); 
    }
    50%{
        background-color: darkorange;
        transform: translateX(100%) translateY(100%);
    }
    75%{
        background-color: lightsalmon;
        transform: translateX(0%) translateY(100%) ;
    }
    100%{
        background-color: brown;
        transform: translateX(0%) translateY(0%);
    }

 
}