body{
   
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.btn-modern:hover{
    transform: translateY(-5px);
    box-shadow: 2px 2px 2px darkgray;
    background-color: wheat;
    color: slategrey;
    transition: 0.4s;
}